/* Import Google Font Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

form {
    margin-top: 6rem !important;
}

.otp-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 5rem;
}

.otp-ctn-ctn {
    margin: 0 3rem;
    max-width: 400px;
}

.otp-ctn-ctn h3 {
    margin-top: 12px;
    color: rgb(190, 190, 190);
}

.otp-ctn-header {
    margin-top: 1rem;
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
}

.otpinput-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 10px;
}

.css-tccdxk {
    max-width: 500px;
    height: 200px;
}


.css-1tq8nf4-MuiFormControl-root-MuiTextField-root input {
    font-size: 1.5rem;
    height: 50px;
    color: #1976d2 !important;

}

.welcome-ctn {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(37, 37, 37);
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid #1976d2 !important;
}